.overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.6)
  display: flex
  justify-content: space-around
  align-items: center

  &__content
    background: #CCC
    border: 7px solid #333

  &__main
    padding: 20px

  &__buttons
    display: flex
    justify-content: space-between

  &__button
    width: 45%
    padding: 10px
    text-align: center
    border: 1px solid black
    background: #AAA

  &__level
    display: flex
    justify-content: space-around
    align-items: center
    margin-bottom: 20px

    &_sub,
    &_add
      width: 100px
      height: 50px
      text-align: center
      line-height: 50px
      font-size: 30px
      font-weight: bold
      border: 1px solid black
      background: #AAA

    &_current
      width: calc(100% - 250px)
      padding: 10px
      border: 1px solid black
      background: #AAA
      min-width: 300px
      margin: 20px
      font-size: 20px

      &_field + &_field
        border-top: 3px solid black
