.overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.4)

  &__content
    position: absolute
    top: 10%
    left: 10%
    right: 10%
    bottom: 10%
    background: #CCC
    border: 7px solid rgba(0, 0, 0, 0.4)

  &__buttons
    display: flex

  &__button
    width: 50%
    margin: 20px
    padding: 10px
    text-align: center
    border: 1px solid black
