body
  margin: 0
  background: #999

  &.user
    overflow-y: scroll

h3
  position: relative

ul
  margin: 0
  padding-left: 25px

.page

  &__header
    padding-top: 120px

    &--sticky
      padding-top: 77px

      & .headline
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 1000
