.overlay__content(v-if="overlay.type == 'HealthOverlay'")
  .overlay__header
    .headline
      h2.headline__label
        | {{ overlay.value.name }}: {{ overlay.value.value }} / {{ overlay.value.total }}
  .overlay__main
    .overlay__health
      .overlay__level_sub(v-on:click.prevent="overlayHealthDown()")
        | -
      .overlay__health_current
        | {{ overlay.current }}
      .overlay__level_add(v-on:click.prevent="overlayHealthUp()")
        | +
    .overlay__buttons
      .overlay__button(v-for="button in overlay.buttons", v-on:click.prevent="submitOverlayHealth(button)")
        | {{ button.text }}
