.admin(v-if="display == 'stages'")
  .admin__title
    h1.admin__headline
      | Stage
  .admin__content
    .admin__stages
      .admin__stage(v-for="stage in data.stages", v-on:click.prevent="setStage(stage)")
        img.admin__image(v-bind:src="stage.image")
        .admin__text
          | {{ stage.text }}
