.scene
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden

  &__sound
    opacity: 0
    height: 0

  &__stage
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
