extends _page

block append before
  - libs.push('/socket.io/socket.io.js');
  - libs.push('/js/vue.min.js');
  - scripts.push('/js/_admin.js');
  - body = 'admin';

block app
  include admin/_menu
  include admin/_user
  include admin/_scene
  include ui/_loading
