extends _page

block append before
  - libs.push('/socket.io/socket.io.js');
  - libs.push('/js/vue.min.js');
  - scripts.push('/js/_admin.js');

block app
  include admin/_menu
  include admin/_user
  include admin/_stages
  include admin/_sounds
  include admin/_chapters
  include ui/_loading
