extends _page

block append before
  - libs.push('/socket.io/socket.io.js');
  - libs.push('/js/vue.min.js');
  - scripts.push('/js/_user.js');
  - body = 'user';

block append font
  link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet")

block app
  include displays/_form
  include displays/_skills
  include ui/_loading
