extends _page

block append before
  - libs.push('/socket.io/socket.io.js');
  - libs.push('/js/vue.min.js');
  - scripts.push('/js/_user.js');
  - body = 'user';

block app
  include displays/_form
  include displays/_skills
  include ui/_loading
