extends _page

block append before
  - libs.push('/socket.io/socket.io.js');
  - libs.push('/js/vue.min.js');
  - libs.push('https://www.youtube.com/iframe_api');
  - scripts.push('/js/scene/_animation.js')
  - scripts.push('/js/scene/_video.js')
  - scripts.push('/js/_scene.js');
  - body = 'scene';

block app
  .scene
    include scene/_sound
    include scene/_stage
    include scene/_text
