include _video

.scene__stage
  .stage__background
    .stage__video(v-bind:class="background.videos.video.classes", v-on:transitionend="onTransitionend('videos', 'video')")
      +video('background')
    .stage__images
      img.stage__image(v-for="(image, key) in background.images", v-bind:class="image.classes", v-bind:src="image.src", v-on:load="onLoad('images', key)", v-on:transitionend="onTransitionend('images', key)")
